@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap");
.print-report {
  font-family: "Noto Sans Lao", sans-serif;
  padding: 30px;
}
* {
  font-family: "Noto Sans Lao, sans-serif";
}
.report-title,
.report-subtitle {
  text-align: center;
  font-weight: bold;
}

.report-title {
  font-size: 18px;
}

.report-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.company-name {
  font-weight: bold;
  font-size: 14px;
}

.company-info {
  font-size: 12px;
}

.report-period {
  text-align: center;
  padding-right: 90px;
}

.report-name {
  font-size: 18px;
  font-weight: bold;
}

.report-date {
  font-size: 13px;
}

.report-no {
  font-size: 13px;
}

.dtable {
  width: 100%;
  border-collapse: collapse;
}

.dtable th,
.dtable td {
  padding: 6px;
  font-size: 12px;
}

.number {
  text-align: right;
  max-width: 120px;
}

.total-row {
  font-weight: bold;
  background: #f2f2f2;
}

.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  width: 30%;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.texts {
  margin-top: 30px;
}
