@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap");
* {
  font-family: "Noto Sans Lao, sans-serif";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.swal-font {
  font-family: "Noto Sans Lao, sans-serif ";
}
